.HistoryItem {
  border: 1px solid;
  padding: 0 15px;
  margin: 15px 15px;
  font-family: 'Oswald', sans-serif;
  background-image: url('../../assets/trianglify-lowres\ \(3\).png');
  background-size: cover;
  word-wrap: break-word;
  cursor: pointer;
}